<div class="header">
  <h2>Welcome, {{CurrentUser.firstname}}</h2>
  <h3>{{headerMessage}}</h3>
</div>

<app-errorhandler></app-errorhandler>

<div class="clearfix mainarea border">
  <app-contactlist (contactSelected)="SetChatContact($event)"></app-contactlist>
  <div class="rightpane column border">
      <app-messagelist *ngIf="chatContact" [chatContact]="chatContact"></app-messagelist>
      <app-messageentry *ngIf="chatContact" [chatContact]="chatContact"></app-messageentry>
  </div>
</div>

<div class="footer">
  <p>LittleChat</p>
</div>

