<div align="center">
<form class="loginform" [formGroup]="loginForm">
  <div class="container">
    <div class="loginheader"> 
      <h1> Little Chat </h1> 
    </div> 
    
    <!-- Login fields -->
    <div align="left">
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Email" id="email" name="email" formControlName="email">
      <div class="alert alert-danger" [hidden]="(email.errors === null)"> {{vErrText.email}} </div>
    </div>
    <div align="left">
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Password" id="password" name="password" formControlName="password">
      <div class="alert alert-danger" [hidden]="(password.errors === null)"> {{vErrText.password}} </div>
    </div>

    <!-- Login button and error text -->
    <div class="centered">
      <button type="button" [disabled]="LoginDisabled()" name="login" (click)="Login()">Login</button>
      <div class="alert alert-danger" [hidden]="backendLoginErrorText.length === 0"> {{backendLoginErrorText}} </div>
    </div> 
    
    <div class="centered">
      <hr>
      <h3>Don't have an account? Sign up!</h3>
      <!-- Signup fields -->
      <div align="left">
        <label for="firstname"><b>First Name</b></label>
        <input type="text" placeholder="First Name" id="firstname" name="firstname" formControlName="firstname">
      <div class="alert alert-danger" [hidden]="(firstname.errors === null)"> {{vErrText.firstname}} </div>
      </div>
      <div align="left">
        <label for="lastname"><b>Last Name</b></label>
        <input type="text" placeholder="Last Name" id="lastname" name="lastname" formControlName="lastname">
        <div class="alert alert-danger" [hidden]="(lastname.errors === null)"> {{vErrText.lastname}} </div>
      </div>
      <div align="left">
        <label for="suemail"><b>Email</b></label>
        <input type="text" placeholder="Email" id="suemail" name="suemail" formControlName="suemail">
        <div class="alert alert-danger" [hidden]="(suemail.errors === null)"> {{vErrText.suemail}} </div>
      </div>
      <div align="left">
        <label for="supassword"><b>Password</b></label>
        <input type="password" placeholder="Password" id="supassword" name="supassword" formControlName="supassword">
        <div class="alert alert-danger" [hidden]="(supassword.errors === null)"> {{vErrText.supassword}} </div>
      </div>

      <div align="left">
        <label for="supassword2"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" id="supassword2" name="supassword2" formControlName="supassword2">
        <div class="alert alert-danger" [hidden]="(supassword2.errors === null) && (supassword2.value === supassword.value)" > {{vErrText.supassword2}} </div>
      </div>
      <!-- Signup button and error text -->
      <button type="button" [disabled]="SignupDisabled()" name="signup" (click)="Signup()">Sign up</button>
      <div class="alert alert-danger" [hidden]="backendSignupErrorText.length === 0"> {{backendSignupErrorText}} </div>
    </div>
  </div>
</form>
</div> 