
div.errorhandler-head {
  width: 100%;
  padding-left: 10px;
  padding-top: 3px;
  font-size: 13pt;
  margin-bottom: 0;
}

li.errorhandler-error {
  margin-bottom: 0;
}

.errorhandler-errorlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.errorhandler-open-icon {
  font-size:16px;
  margin-right: 20px;
  float: right;
}

.errorhandler-body {
  width: 100%;
}